Ringtoets/Piping/src/Ringtoets.Piping.IO/Readers/XMLPipingConfigurationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (C) Stichting Deltares 2016. All rights reserved.

This file is part of Ringtoets.

Ringtoets is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

All names, logos, and references to "Deltares" are registered trademarks of
Stichting Deltares and remain full property of Stichting Deltares at all times.
All rights reserved.
-->

<!-- edited by Pieter van Geer (Deltares) -->
<!-- W3C Schema generated by XMLSpy v2017 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="berekening"/>
				<xs:element ref="folder"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="folder">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="berekening"/>
				<xs:element ref="folder"/>
			</xs:choice>
			<xs:attribute name="naam" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="berekening">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:choice minOccurs="0" maxOccurs="1">
					<xs:element ref="hrlocatie"/>
					<xs:element ref="toetspeil"/>
				</xs:choice>
				<xs:element ref="profielschematisatie" maxOccurs="1"/>
				<xs:element ref="intredepunt" maxOccurs="1"/>
				<xs:element ref="uittredepunt" maxOccurs="1"/>
				<xs:element ref="ondergrondmodel" maxOccurs="1"/>
				<xs:element ref="ondergrondschematisatie" maxOccurs="1"/>
				<xs:element ref="stochast" maxOccurs="2"/>
			</xs:sequence>
			<xs:attribute name="naam" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="profielschematisatie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hrlocatie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="toetspeil">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="intredepunt">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uittredepunt">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ondergrondmodel">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ondergrondschematisatie">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stochast">
		<xs:complexType>
			<xs:sequence maxOccurs="1" minOccurs="1">
				<xs:element ref="verwachtingswaarde"/>
				<xs:element ref="standaardafwijking"/>
			</xs:sequence>
			<xs:attribute name="naam" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="polderpeil"/>
						<xs:enumeration value="dempingsfactor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="standaardafwijking">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="verwachtingswaarde">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
