Riskeer/Common/test/Ringtoets.Common.IO.Test/test-data/CombinedXmlSchemaDefinition/validNestedSchemaDefinition1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="container">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="item"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="item" type="itemType" />
  <xs:complexType name="itemType">
    <xs:attribute name="naam" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>